<!doctype html>
<html {{with .Site.LanguageCode}}lang="{{.}}"{{end}}>
    {{ partial "head.html" . }}
    <body>
        <nav class="menu">
            <a class="menu-logo" href="#home">
                <figure>
                    <img src="img/logo.svg" alt="Port Zero Logo" />
                    <figcaption>Port Zero</figcaption>
                </figure>
            </a>
            <div class="language-selector">
                {{ range .AllTranslations }}
                    {{ if eq .Language $.Language }}
                        <span>{{ .Language.Lang | humanize }}</span>
                    {{ else }}
                        <a href="{{ .Permalink }}">{{ .Language.Lang | humanize }}</a>
                    {{ end }}
                {{ end }}
            </div>
            <input type="checkbox" id="menu-mobile-checkbox" class="menu-mobile-cb">
            <label for="menu-mobile-checkbox" class="menu-mobile-label">
                <i class="icon-menu"></i>
            </label>
            <ul class="menu-items">
                {{ $home := $.GetPage "/" }}
                {{ range $section := .Site.Data.sections }}
                    {{ with $.Site.GetPage $section }}
                        <li>
                            <a
                                href="{{ printf "%s#%s" $home.Permalink $section }}"
                                class="content-section-link"
                                id="link-{{ $section }}"
                            >
                                {{ .Title }}
                            </a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </nav>
        <main id="content" class="content">
            {{ block "main" . }}{{ end }}
        </main>
        {{ partial "footer" .}}
        <script src="/js/index.js"></script>
    </body>
</html>
