<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} lang="{{.     }}"{{end}}>
    {{ partial "head.html" . }}
    <body>
        <div class="content">
            {{ if eq .Language.LanguageName "Deutsch"}}
              <a class="Logo" href="/de/">
              {{ else }}
              <a class="Logo" href="/">
              {{ end }}
              <img src="img/logo.svg" alt="Port Zero"/>
              </a>
            {{  partial "sidebar.html" .  }}
		    <div class="text">
                {{ block "main" . -}}{{- end }}
            </div>
            {{  partial "foot.html" .  }}
        </div>
    </body>
</html>
