<section class="content-section section-services">
    {{ range .Pages }}
        <a class="service-logo" href="{{ .Permalink }}">
            {{ $imageName := printf "%s.*" .File.TranslationBaseName }}
            {{ with .Parent.Resources.GetMatch $imageName }}
                {{ $thumbnail := .Fit "100x100" }}
                <img src="{{ $thumbnail.Permalink }}" alt="{{ $.Title }}">
            {{ end }}
            <h3 class="section-service-header">{{ .LinkTitle }}</h3>
        </a>
    {{ end }}
</section>


<div class="services-landscape">
    <img class="services-landscape-img" src="/img/services-landscape.jpg" alt="" usemap="#services-landscape">
    <a class="services-landscape-security" href="/services/security"></a>
    <a class="services-landscape-security" href="/services/security"></a>
    <a class="services-landscape-integration" href="/services/integration"></a>
    <a class="services-landscape-development" href="/services/development"></a>
    <img class="services-landscape-gray" src="/img/services-landscape.jpg" alt="" usemap="#services-landscape">
</map>
