{{ define "main" }}
    <h1 class="content-header">{{ .Title }}</h1>
    <section class="content-section content-section--blue">
        <p>{{ .Content }}</p>
    </section>

    {{ range .Pages }}
        <section id="{{ .Section }}">
            {{ .Render "section-info" }}
            <section class="content-section">
                {{ .Content }}
            </section>
        </section>
    {{ end }}

    <section id="{{ .Section }}-{{ .ContentBaseName }}-products">
        <h1 class="content-header">{{ .Params.productsTitle }}</h1>
        {{ if and .Params.productsSummary .Params.productsDescription }}
            <section class="content-section">
                <p class="content-summary">{{ .Params.productsSummary }}</p>
                <p class="content-description">{{ .Params.productsDescription }}</p>
            </section>
        {{ end }}
    </section>
{{ end }}
