{{ define "main" }}
    <h1 class="content-header">{{ .Title }}</h1>
    <section class="content-section content-section--blue">
        <p>{{ .Content }}</p>
    </section>

    {{ range .Pages }}
        <section id="{{ .Section }}">
            {{ .Render "section-info" }}
            <section class="content-section">
                {{ .Content }}
            </section>
        </section>
    {{ end }}

    <section id="{{ .Section }}-{{ .ContentBaseName }}-products">
        <h1 class="content-header">{{ .Params.productsTitle }}</h1>
        {{ if and .Params.productsSummary .Params.productsDescription }}
            <section class="content-section">
                <p class="content-summary">{{ .Params.productsSummary }}</p>
                <p class="content-description">{{ .Params.productsDescription }}</p>
            </section>
        {{ end }}
    </section>

    <section id="{{ .Section }}-{{ .ContentBaseName }}-projects">
        <h1 class="content-header">{{ .Params.projectsTitle }}</h1>
        {{ if and .Params.projectsSummary .Params.projectsDescription }}
            <section class="content-section content-section--blue content-info">
                <p class="content-summary">{{ .Params.projectsSummary }}</p>
                <p class="content-description">{{ .Params.projectsDescription }}</p>
            </section>
        {{ end }}
        <div class="content-section section-companies section-projects">
            {{ $projects := (.Site.GetPage "projects").Pages }}
            {{ with where $projects "Params.services" "intersect" (slice .File.ContentBaseName) }}
                {{ partial "detail-tiles" (dict "name" "projects" "default" 0 "preview-partial" "company-preview" "content-partial" "company-content" "items" .) }}
            {{ end }}
        </div>
    </section>
{{ end }}
