{{ define "main" }}
<h2 class="tagline">{{ .Title }}</h2>
{{ .Content }}
<br />
<div class="List">
    {{ range sort .Data.Pages }}
		<article class="List-item">
    		{{ with .Params.image }}
       			<img src="{{ . }}" class="List-image" />
			{{ else }}
				<img src="img/logo.png" class="List-image" />
			{{ end }}
			<div class="List-text">
				<p class="position">{{ .Params.description }}</p>
				<h4>{{ .Title }}</h4>
        {{ .Content }}
			</div>
		</article>
    {{ end }}
</div>
{{ end }}
