:root {
    --menu-height: 50px;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src:
    url('../font/fira-sans-v8-latin-300.woff2') format('woff2'),
    url('../font/fira-sans-v8-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../font/fira-sans-v8-latin-400.woff2') format('woff2'),
    url('../font/fira-sans-v8-latin-400.woff') format('woff');
}

/*
   border box, for easier box model reasonning;
   and flex overflows miscaculations */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
  font-family: 'Fira Sans';
  font-weight: 300;
  line-height: 1.4;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0 0 1rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1,
.tagline {
  font-size: 1.85rem;
}

h2 {
  font-size: 1.25rem;
}

h3,
h4 {
  font-size: 0.9rem;
}

a {
  color: #0d96d5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-bottom: 1px solid #0d96d5;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  margin-right: 0;
  margin-left: 0;
}

/* Layout */
html,
body {
    min-height: 100%;
    width: 100%;
}
body {
    position: relative;
    margin: 0;
    padding: 2rem;
    min-height: 100vh;
}

.content {
  max-width: 60rem;
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.sidebar,
.text {
  width: 100%;
}

/* sidebar */
.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
@media (min-width: 40rem) {
    .sidebar {
	max-width: 17rem;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	padding-right: 3rem;
    }
}
.sidebar .copyright {
    display: none;
    text-align: right;
    color: black;
    margin-bottom: 1rem;
}
@media (min-width: 40rem) {
    .content .copyright {
	display: block;
    }
}
.sidebar .main-menu {
    margin-bottom: 1rem;
}
.sidebar .sub-menu {
    font-size: 1.0rem;
}
.menu_mobile option {
    font-size: 1rem;
}
.menu_mobile optgroup[label] {
    font-size: 1rem;
}


/* Menu */
.menu {
    position: fixed;
    background: white;
    display: grid;
    grid-template-rows: var(--menu-height) auto;
    grid-template-columns: auto min-content;
    grid-template-areas: "logo menu-icon" "menu-items menu-items";
    flex-direction: row;
}

.menu-logo {
    grid-area: logo;
    width: 200px;
    margin: 0;
    display: flex;
    align-items: center;
}

.menu-logo figcaption {
    vertical-align: center;
}

.menu-logo img {
    height: 100%;
}

.menu-mobile-label {
    grid-area: menu-icon;
}

.menu-mobile-cb {
    display: none;
}

.menu-items {
    grid-area: menu-items;
    padding: 0;
    display: none;
}

.menu-mobile-cb:checked ~ .menu-items {
    display: block;
}

.menu-items > li {
    padding: 0;
    list-style: none;
}

/* Logo */
.Logo {
  display: block;
  text-align: right;
}

.Logo:hover {
  text-decoration: none;
}

.Logo img {
  width: 64px;
}

/* Content */
.content {
    margin-top: var(--menu-height);
    display: flex;
    flex-direction: column;
}

.content > * {
    height: 1000px;
}

/* footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #0d96d5;
  bottom: 10px;
}

.footer-section {
  border-left: 1px solid #0d96d5;
  padding: 0.5rem;
  margin: 1rem;
}

.footer-section h3 {
  color: #0d96d5;
  margin-bottom: 0.2rem;
  margin-top: 0;
}

.footer-section ul {
  margin: 0;
  padding-left: 0.1rem;
  list-style: none;
}

.footer-section li a {
  border-bottom: 0;
}

.mobile_footer {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
.mobile_footer .menu_social {
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    padding-left: 0;
}

@media (min-width: 40rem) {
    .mobile_footer {
	display: none;
    }
}

/* imprint */
.imprint-legalese {
  max-width: 700px;
  max-height: 400px;
  overflow: scroll;
}

.imprint-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.imprint-section p {
  margin: 0;
}

/* Lists as seen on references, partners and team pages etc. */
.List {}
.List-item {
  display: flex;
  min-height: 9rem;
  padding-top: 1.5rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  background-color: hsla(0, 0%, 0%, 0.01);
}
.List-item:last-child {
  border-bottom: 0 none;
}

.List-image {
  padding-top: 1rem;
  padding-left: 1rem;
  width: 6rem;
  flex-shrink: 0;
  align-self: flex-start;
  margin-right: 1rem;
}

@media (min-width: 90rem) {
  .List-image {
    width: 8rem;
  }
}

.List h3 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.List h4 {
  margin-bottom: 0.5rem;
}

/* Smaller screens */
@media (max-width: 40rem) {
  .text {
    margin-left: 0;
  }
  .content {
      flex-direction: column;
  }
}
