:root {
 --color-background: #FFFFFF;
  --color-text-dark: #2B2B2B;
  --color-text-light: #FEFEFE;
  --color-highlight: #0E97D5;
  --menu-height: 50px;
  --spacing-vertical: 1.5rem;
  --spacing-vertical-big: 3rem;
  --spacing-horizontal: 2rem;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src:
    url('../font/fira-sans-v8-latin-300.woff2') format('woff2'),
    url('../font/fira-sans-v8-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('../font/fira-sans-v8-latin-400.woff2') format('woff2'),
    url('../font/fira-sans-v8-latin-400.woff') format('woff');
}

@font-face{
  font-family: 'Fira Sans';
  src:
    url('../font/FiraSans-SemiBold.woff2') format('woff2'),
    url('../font/FiraSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/*
   border box, for easier box model reasonning;
   and flex overflows miscaculations */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: 'Fira Sans';
  font-weight: 300;
  line-height: 1.4;
  font-size: 16px;
}

em {
  font-style: normal;
  color: var(--color-highlight);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0 0 1rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1,
.tagline {
  font-size: 1.85rem;
}

h2 {
  font-size: 1.25rem;
}

h3,
h4 {
  font-size: 0.9rem;
}

a {
  color: #0d96d5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-bottom: 1px solid #0d96d5;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  margin-right: 0;
  margin-left: 0;
}

/* Layout */
body {
  min-height: 100%;
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto min-content;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

/* Menu */
.menu {
  background: white;
  margin: 1rem var(--spacing-horizontal);
  display: grid;
  grid-template-rows: var(--menu-height) auto;
  grid-template-columns: auto min-content min-content;
  grid-template-areas: "logo language menu-icon" "menu-items menu-items menu-items";
  flex-direction: row;
}

.menu-logo {
  grid-area: logo;
  width: 9rem;
}

.menu-logo figure {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

.menu-logo figcaption {
  margin-left: 1rem;
  vertical-align: center;
  text-transform: uppercase;
  color: var(--color-text-dark);
  font-weight: 600;
}

.menu-logo img {
  height: 100%;
}

.language-selector {
  grid-area: language;
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-size: 14px;
  line-height: 14px;
}

.language-selector > * + * {
  border-left: 1px solid var(--color-text-dark);
  margin-left: 5px;
  padding-left: 5px;
}

.menu-mobile-label {
  grid-area: menu-icon;
  display:flex;
  align-items: center;
  font-size: 24px;
}

.menu-mobile-cb {
  display: none;
}

.menu-items {
  grid-area: menu-items;
  margin: 0;
  padding: 1rem 0 0.3rem;
  display: none;
}

.menu-mobile-cb:checked ~ .menu-items {
  display: block;
}

.menu-items > li {
  padding: 0;
  list-style: none;
}

.content-section-link.active {
  color: var(--color-text-dark);
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
  scroll-behavior: smooth;
  -ms-scroll-chaining: chained;
}

.content-header {
  position: sticky;
  top: 0;
  margin: var(--spacing-vertical-big) 0 0;
  padding: 0 var(--spacing-horizontal);
  background: var(--color-background);
  z-index: 1;
  color: var(--color-highlight);
  font-size: 16px;
  font-weight: 600;
}

.content-section {
  padding: var(--spacing-vertical) var(--spacing-horizontal);
  color: var(--color-text-dark)
}

.content-section--blue {
  margin-top: var(--spacing-vertical);
  background: var(--color-highlight);
  color: var(--color-text-light);
}

.content-section--blue em {
  color: var(--color-text-dark);
}

.content-section--dark {
  margin-top: var(--spacing-vertical);
  background: var(--color-text-dark);
  color: var(--color-text-light);
}

.content-section--dark em {
  color: var(--color-highlight);
}

.banner {
  margin: 0;
}

.banner > p {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

/* Smaller screens */
@media (max-width: 40rem) {
  .text {
    margin-left: 0;
  }
}

.content-summary {
  font-weight: 400;
}

.detail-tiles-radio,
.detail-tiles-content {
  display: none;
}

.detail-tiles-preview {
  position: relative;
  cursor: pointer;
  color: var(--color-text-dark);
  filter: grayscale(1);
  transition: border-color 300ms, color 300ms, filter 300ms;
}

.detail-tiles-radio:checked + .detail-tiles-preview {
  border-color: var(--color-highlight);
  color: var(--color-highlight);
  filter: grayscale(0);
}

.detail-tiles-radio:checked + .detail-tiles-preview + .detail-tiles-content {
  display: block;
}

.section-services {
  min-width: 27rem;
  justify-content: space-between;
}

.service-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-dark);
  transition: transform 150ms, color 150ms;
}

.service-logo:hover,
.service-logo:active,
.service-logo:focus {
  color: var(--color-highlight);
  text-decoration: none;
  transform: scale(1.2);
}

.section-service-header {
  text-align: center;
  font-size: 1.5rem;
}

.section-services,
.section-community-team,
.section-companies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: calc(var(--spacing-vertical) - 8px) calc(var(--spacing-horizontal) - 8px);
}

.section-community-team,
.section-companies {
  justify-content: space-evenly;
}

.section-community-team .detail-tiles-preview,
.section-companies .detail-tiles-preview{
  margin: 8px;
  flex: 1;
  order: 1;
  display: flex;
  justify-content: center;;
}

.section-community-team .detail-tiles-preview {
  flex: 0 0 94px;
}

.team-member-preview-image {
  display: block;
  text-align: center;
  width: 100px;
  border: 2px solid var(--color-text-dark);
  border-radius: 50%;
  background: var(--color-highlight);
  line-height: 96px;
  font-size: 65px;
  transition: border-color 300ms;
}

.detail-tiles-radio:checked + .detail-tiles-preview .team-member-preview-image {
  border-color: var(--color-highlight);

}

.team-member-preview-name {
  margin: 5px 0;
  display: block;
  line-height: 1rem;
  font-size: .75rem;
  text-align: center;
  transition: color 300ms;
}

.detail-tiles-radio:checked + .detail-tiles-preview .team-member-preview-name {
  color: var(--color-highlight);
}

.team-member-content {
  margin-top: 1rem;
}

.section-community-team .detail-tiles-radio:checked + .detail-tiles-preview {
  color: var(--color-text-dark);
}

.section-community-team .detail-tiles-content,
.section-companies .detail-tiles-content {
  order: 2;
  flex: 0 0 100%;
  margin-top: 40px;
  text-align: center;
}

.team-member-title {
  margin: 0 0 3px;
}

.team-member-description {
  font-weight: 600;
}

.section-companies .detail-tiles-preview {
  flex: 0;
  display: inline-flex;
  align-items: center;
  border: none;
  margin-bottom: 0;
  padding-bottom: 8px;
}

.section-companies .detail-tiles-radio + .detail-tiles-preview {
  border-bottom: 2px solid transparent;
}


.section-companies .detail-tiles-radio:checked + .detail-tiles-preview {
  border-bottom-color: var(--color-highlight);
}

.services-landscape {
  display: block;
  max-width: 100%;
  max-height: 75vh;
  margin: 0 auto;
}


/* footer */
.footer {
  padding: 0.2rem var(--spacing-horizontal);
  background: var(--color-text-dark);
  border-top: 1px solid var(--color-highlight);
  color: var(--color-text-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  margin: 0;
}

.social-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-links li {
  margin: 0 5px;
}

.social-links a {
  color: var(--color-text-light);
}

.social-links a:last-child {
  margin-left: 0;
}

.legal-pages {
  width: 100%;
  margin:  5px 0;
  line-height: 14px;
  font-size: 14px;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.legal-pages li {
  margin: 0 0.5rem;
}


@media (min-width: 40rem) {
  .menu {
    height: var(--menu-height);
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto min-content;
    grid-template-areas: "logo language" "logo menu-items";
  }

  .menu-mobile-label {
    display: none;
  }

  .language-selector {
    margin: 0;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .menu-mobile-cb:checked ~ .menu-items,
  .menu-items {
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 1;
    font-weight: 400;
  }

  .menu-items li {
    margin-left: 10px;
    white-space: nowrap;
  }

  .content-section {
    padding: var(--spacing-vertical) calc(35% - 10rem) var(--spacing-vertical-big);
  }

  .content-info {
    display: flex;
  }

  .content-summary {
    flex: 3;
  }

  .content-description {
    flex: 5;
    margin-left: 15%;
  }

  .copyright {
    order: 1;
  }

  .legal-pages {
    order: 2;
    width: auto;
    margin: 0;
  }

  .legal-pages li {
    margin: 0 1rem;
  }

  .social-links {
    order: 3;
  }
}
