## Import Fonts
/* fira-sans-300 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/fira-sans-v8-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Light'), local('FiraSans-Light'),
       url('fonts/fira-sans-v8-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/fira-sans-v8-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fira-sans-v8-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/fira-sans-v8-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fira-sans-v8-latin-300.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/fira-sans-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('fonts/fira-sans-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/fira-sans-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/fira-sans-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/fira-sans-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/fira-sans-v8-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}


## Style

html, body {
  min-height: 100%;
  margin: 0;
}

.content {
  max-width: 700px;
  margin: auto;
  font-family: "Fira Sans";
  min-height: 100%;
  position: relative;
  padding-bottom: 150px;
}

.logo {
  margin-top: 80px;
  display: inline-block;
  width: 200px;
}

.text {
  margin-top: 80px;
  display: inline-block;
  float: right;
  padding: 1em;
  width: calc(100% - 240px);
}

.tagline {
  font-weight: 400;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #0099cc;
  border-bottom: 2px solid #09c;
  height: 18px;
  display: inline-block;
}

a:hover {
  color: #004c66;
  border-bottom: 2px solid #004c66;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #09c;
  position: absolute;
  bottom: 10px;
}

.footer-section {
  border-left: 1px solid #09c;
  padding: 0.5em;
  margin: 1em;
}

.footer-section h3 {
  color: #09c;
  margin-bottom: 0.2em;
  margin-top: 0;
}

.footer-section ul {
  margin: 0;
  padding-left: 0.1em;
  list-style: none;
}

.footer-section li a {
  border-bottom: 0;
}

.imprint-legalese {
  max-width: 700px;
  max-height: 400px;
  overflow: scroll;
}

.imprint-section {
  margin-top: 1em;
  margin-bottom: 1em;
}

.imprint-section p {
  margin: 0;
}

.img-link {
  display: inline-block;
}

.small-logo {
  margin-top: 1em;
  width: 20px;
  display: inline-block;
}

.img-header {
  display: inline-block;
  margin: 0;
  padding-left: 1em;
  vertical-align: super;
}
