{{ with .Site.GetPage "community" }}
    <section class="content-section content-section-dark section-community-description">
        <p>{{ .Summary }}</p>
        <p>{{ .Description }}</p>
    </section>

    <section class="content-section section-community-team">
        {{ partial "detail-tiles" (dict "name" "community" "default" 0 "preview-partial" "team-member-preview" "content-partial" "team-member-content" "items" (where .Site.RegularPages "Section" "community" | sort)) }}
    </section>
{{ end }}
