<nav class="menu">
    {{ $currentNode := . }}
    <form id="mobile-menu" class="menu_mobile">
	<label>
	    <select>
		{{ range .Site.Menus.main -}}
		{{ if .HasChildren }}
		<option value="{{ .URL }}" class="withchildren {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}active{{end}}">
		    {{ .Name }}
		</option>
		{{ range .Children }}
		<option value="{{ .URL }}" class="sub-menu">
		    &nbsp;&nbsp;{{ .Name }}
		</option>
		{{ end }}
		{{ else }}
		<option value="{{ .URL }}" class="main-menu {{if ($currentNode.IsMenuCurrent "main" .) }}active{{end}}">
		    {{ .Name }}
		</option>
		{{ end }}
		{{- end  }}

		<optgroup label="{{ i18n "language" }}">
		    {{ range $.Translations }}
		    <option value="{{ .Permalink }}">{{ .Language.LanguageName }}</option>
		    {{ end }}
		    <option value="{{ .Permalink }}">{{ .Language.LanguageName }}</option>
		</optgroup>
	    </select>
	</label>
    </form>
</nav>
