<ul class="menu_main">
    {{ $currentNode := . }}
    {{ range .Site.Menus.main -}}
    <div class="menu_main_item">
        {{ if .HasChildren }}
        <li class="withchildren {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}active{{end}}">
            <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        <ul class="sub-menu">
            {{ range .Children }}
            <li class="{{ if $currentNode.IsMenuCurrent "main" . }}active{{ end }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
        {{ else }}
        <li class="main-menu {{if ($currentNode.IsMenuCurrent "main" .) }}active{{end}}">
            <a href="{{.URL}}">{{ .Name }}</a>
        </li>
        {{ end }}
    </div>
    {{- end  }}
</ul>
