<div class="sidebar">

{{  partial "menu.html" .  }}

<!--
{{ if .IsTranslated }}
    <ul class="language">
    {{ if eq .Language.LanguageName "en"}}
        <li>
            <a href="{{ .Permalink }}" class="active">{{ .Language.LanguageName }}</a>|
        </li>
    {{ end }}
    {{ range .Translations }}
        <li>
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        </li>
    {{ end}}
    {{ if eq .Language.LanguageName "de"}}
        <li>
            |<a href="{{ .Permalink }}" class="active"> {{ .Language.LanguageName }}</a>
        </li>
    {{ end }}
    </ul>
{{ end }}
-->

{{ if .IsTranslated }}

<p class="language">
{{ range .Translations }}                                                                
    {{ if eq .Language.LanguageName "Deutsch"}}                                          

        {{ range .Translations }}
        <li>
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        </li>
        {{ end }}
    {{ end }}                                                                             
{{ end }}                                                                                 
</p>

{{ end }}                                                                                 


 {{  partial "footer.html" .  }}     
                                     
 </div>                              
